{% extends 'admin/base.html.twig' %}

{% block body %}

    <h4 class="main-title text-center"> Ajouter une citation </h4>
    <hr class="my-2">

    <div class="col-md-6 offset-md-3 mb-5 pt-5 pb-5">

        {{ form_start(form) }}

        <div class="md-form">
            {{ form_row(form.author) }}
        </div>

        <div class="md-form">
            {{ form_row(form.content, {'attr': {'class': 'md-textarea bigTextArea'}}) }}
        </div>

        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-amber btn-rounded btn-md" formnovalidate>Ajouter <i class="fa fa-plus"></i></button>
            <a href="{{ path('admin_quotations') }}" class="btn btn-outline-danger btn-rounded waves-effect btn-sm">Annuler <i class="fa fa-times ml-1"></i></a>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
