{% extends 'visitor/base.html.twig' %}

{% block body %}
    <div class="jumbotron" style="padding-top: 15px; padding-bottom: 0px;">
        <h5>Citation du jour</h5>
        <hr>
        <blockquote class="blockquote text-center" style="border-left: 0px; padding-bottom: 5px;">
            <p class="mb-0" style="padding-left: 0px; padding-top: 2px; padding-bottom: 4px;">
                <i class="fa fa-angle-double-left fa-2x" style="color: #cccccc; position: relative; top:5px;"></i> {{ user.quotation.content|capitalize }} <i class="fa fa-angle-double-right fa-2x" style="color: #cccccc; position:relative; top:5px;"></i>
            </p>
            <footer class="blockquote-footer mb-3"><cite title="Source Title">{{ user.quotation.author|capitalize }}</cite></footer>
        </blockquote>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4 class="mt-3 mb-sm-4">Questions du jour</h4>
            </div>
            <div class="col-md-4">
                <h5 class="text-center font-bold">
                    {{ qcmDoneToday }} / {{ qcmMax }} réalisées
                </h5>
                <div class="progress" style="height: 15px">
                    <div id="countDownProgressBar" class="progress-bar {% if qcmDoneToday >= qcmMax %}bg-success{% endif %}" role="progressbar" style="width: {{ ((qcmDoneToday/qcmMax)*100)|round }}%; height: 15px" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                {% if not (qcmDoneToday >= qcmMax) %}
                    <a href="{{ path('qcm_ranked_play') }}" class="btn btn-amber btn-rounded btn-lg">Lancer <i class="fa fa-fighter-jet" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ path('qcm_ranked_home') }}" class="btn btn-amber btn-rounded btn-lg disabled">Lancer <i class="fa fa-fighter-jet" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4 class="mt-3 mb-sm-4">Mode entraînement</h4>
            </div>
            <div class="col-md-4">
                <h5 class="text-center font-bold">
                    {% if user.points < unlockTrainingMode %}
                        {{ user.points }} / {{ unlockTrainingMode }} points
                    {% else %}
                        {{ unlockTrainingMode }} / {{ unlockTrainingMode }} points
                    {% endif %}
                </h5>
                <div class="progress" style="height: 15px">
                    {% if user.points < unlockTrainingMode %}
                        <div id="countDownProgressBar" class="progress-bar" role="progressbar" style="width: {{ ((user.points/unlockTrainingMode)*100)|round }}%; height: 15px" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    {% else %}
                        <div id="countDownProgressBar" class="progress-bar bg-success" role="progressbar" style="width: {{ ((unlockTrainingMode/unlockTrainingMode)*100)|round }}%; height: 15px" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 text-center">
                {% if user.points < unlockTrainingMode %}
                    <a href="{{ path('qcm_training_launcher') }}" class="btn btn-amber btn-rounded btn-lg disabled">Accéder <i class="fa fa-lock" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ path('qcm_training_launcher') }}" class="btn btn-amber btn-rounded btn-lg">Accéder <i class="fa fa-unlock" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 text-center">
                <h4 class="mt-3 mb-sm-4">Autres liens</h4>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ path('ressources') }}" class="btn btn-amber btn-rounded btn-lg">Ressources</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ path('presentation') }}" class="btn btn-amber btn-rounded btn-lg">Présentation</a>
            </div>
        </div>
    </div>
{% endblock %}
