{% extends 'admin/base.html.twig' %}

{% block body %}

    <h4 class="main-title text-center"> Catégories </h4>
    <hr class="my-2">

    <!--Grid column-->
    <div class="col-md-6 offset-md-3 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body">

                <!-- Table  -->
                <table class="table table-responsive">
                    <!-- Table head -->
                    <thead>
                    <tr>
                        <th class="blue lighten-4">Nom</th>
                        <th class="blue lighten-4">QCM</th>
                        <td style="text-align: right;"><a href="{{ path('admin_categories_add') }}" class="btn btn-amber btn-sm"><i class="fa fa-plus"></i></a></td>
                    </tr>
                    </thead>
                    <!-- Table head -->

                    <!-- Table body -->
                    <tbody>
                    {% for category in categoriesList %}
                        <tr>
                            <th scope="row">{{ category.name|capitalize }}</th>
                            <th scope="row">{{ category.qcms.count }}</th>
                            <td style="text-align: right;">
                                <a href="{{ path('admin_categories_edit', {'id': category.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('admin_categories_delete', {'id': category.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <!-- Table body -->
                </table>
                <!-- Table  -->

            </div>

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            {% for message in app.session.flashbag.get('success') %}
            toastr.success('{{ message }}');
            {% endfor %}
        });
    </script>
{% endblock %}