

{{ qcm.question }} ??

<div id="countDownContainer">
    {{ countDown }}
</div>

<form name="answer_qcm_form" method="post" id="answer_qcm_form_correction">

    <table class="table table-striped table-responsive-md">
        <tbody>
        <tr>
            <th scope="row">
                A
            </th>
            <td>
                <input type="checkbox" id="answer_qcm_form_veracityA" name="answer_qcm_form[veracityA]" class="form-check-input" value="1" />
                <label class="form-check-label" for="answer_qcm_form_veracityA"></label>
            </td>
            <td>
                {{ qcm.answerA }}
            </td>
        </tr>
        <tr>
            <th scope="row" class="">
                B
            </th>
            <td>
                <input type="checkbox" id="answer_qcm_form_veracityB" name="answer_qcm_form[veracityB]" class="form-check-input" value="1" />
                <label class="form-check-label" for="answer_qcm_form_veracityB"></label>
            </td>
            <td>{{ qcm.answerB }}</td>
        </tr>
        <tr>
            <th scope="row" class="">
                C
            </th>
            <td>
                <input type="checkbox" id="answer_qcm_form_veracityC" name="answer_qcm_form[veracityC]" class="form-check-input" value="1" />
                <label class="form-check-label" for="answer_qcm_form_veracityC"></label>
            </td>
            <td>{{ qcm.answerC }}</td>
        </tr>
        <tr>
            <th scope="row" class="">
                D
            </th>
            <td>
                <input type="checkbox" id="answer_qcm_form_veracityD" name="answer_qcm_form[veracityD]" class="form-check-input" value="1" />
                <label class="form-check-label" for="answer_qcm_form_veracityD"></label>
            </td>
            <td>{{ qcm.answerD }}</td>
        </tr>
        <tr>
            <th scope="row" class="">
                E
            </th>
            <td>
                <input type="checkbox" id="answer_qcm_form_veracityE" name="answer_qcm_form[veracityE]" class="form-check-input" value="1" />
                <label class="form-check-label" for="answer_qcm_form_veracityE"></label>
            </td>
            <td>{{ qcm.answerE }}</td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-brown" id="answer_qcm_form_button" formnovalidate>Valider</button>

</form>

