{% extends 'visitor/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2 font-bold text-center">
            QCM {{ qcmAt }}/{{ serieLength }}
        </div>
        <div class="col-md-8 pt-2">
            <div class="progress" style="height: 10px">
                <div class="progress-bar" role="progressbar" style="width: {{ ((qcmAt/serieLength)*100)|round }}%; height: 10px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0;">
    <div class="col-md-8 offset-md-2 pt-2 no-padding">
        <div id="qcmContainer">
            {%  if corrected is empty %}
                {% include 'visitor/qcm/_qcm.html.twig' with {'qcm': qcm} %}
            {% else %}
                {% include 'visitor/qcm/_training_qcm_correction.html.twig' with {'qcm': qcm} %}
            {% endif %}
        </div>
    </div>
    <br><br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('#answer_qcm_form_veracityA').prop('checked', false);
            $('#answer_qcm_form_veracityB').prop('checked', false);
            $('#answer_qcm_form_veracityC').prop('checked', false);
            $('#answer_qcm_form_veracityD').prop('checked', false);
            $('#answer_qcm_form_veracityE').prop('checked', false);
            var answerA = false;
            var answerB = false;
            var answerC = false;
            var answerD = false;
            var answerE = false;

            $("#answer_qcm_form_veracityA").change( function () {
                $(this).is(":checked") ? answerA = true : answerA = false;
            });
            $("#answer_qcm_form_veracityB").change( function () {
                $(this).is(":checked") ? answerB = true : answerB = false;
            });
            $("#answer_qcm_form_veracityC").change( function () {
                $(this).is(":checked") ? answerC = true : answerC = false;
            });
            $("#answer_qcm_form_veracityD").change( function () {
                $(this).is(":checked") ? answerD = true : answerD = false;
            });
            $("#answer_qcm_form_veracityE").change( function () {
                $(this).is(":checked") ? answerE = true : answerE = false;
            });

            // ================================================
            // REQUETE AJAX CORRECTION
            // ================================================
            $("#answer_qcm_form_button").click(function (e) {
                e.preventDefault();
                triggerCorrection();
                $('#qcmContainer').html('<h2 class="text-center pt-5">Correction du QCM en cours...</h2><div class="progress primary-color-dark">\n' +
                    '    <div class="indeterminate"></div>\n' +
                    '</div><br><br><br><br><br><br><br><br><br><br><br><br><br>');
            });

            function triggerCorrection(){
                clearInterval(countDownInterval);

                $.ajax({
                    type: 'POST',
                    url: '{{ path('ajax_training_qcm_correction') }}',
                    data: 'answerA=' + answerA + '&answerB=' + answerB + '&answerC=' + answerC + '&answerD=' + answerD + '&answerE=' + answerE
                })
                    .done(function (data, textStatus, jqXHR) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('response')) {
                                $('#qcmContainer').html(jqXHR.responseJSON.response);
                            }
                        } else {
                            alert('Error');
                        }
                    })
                    .fail(function () {
                        alert('Failed');
                    });
            }

            // ================================================
            // COUNTDOWN
            // ================================================
            {% if corrected is empty %}
            var initialCountDown = Number({{ qcm.countdown }});
            var countDown = Number({{ countDown }});
            var firstLoop = true;
            var countDownInterval = setInterval(function () {
                if(firstLoop){
                    firstLoop = false;
                } else {
                    countDown = countDown - 1;
                }
                var countDownPercent = Math.round((countDown/initialCountDown)*100);
                $("#countDownProgressBar").css('width', countDownPercent+"%");
                updateCountDownColor(countDownPercent);
                if(countDown == 0){
                    triggerCorrection();
                    $('#qcmContainer').html('<h2 class="text-center pt-5">Correction du QCM en cours...</h2><div class="progress primary-color-dark">\n' +
                        '    <div class="indeterminate"></div>\n' +
                        '</div><br><br><br><br><br><br><br><br><br><br><br><br><br>');
                }
            }, 1000);
            {% endif %}

            function updateCountDownColor(countDownPercent)
            {
                $("#countDownProgressBar").removeClass("bg-success");
                $("#countDownProgressBar").removeClass("bg-info");
                $("#countDownProgressBar").removeClass("bg-warning");
                $("#countDownProgressBar").removeClass("bg-danger");
                if(countDownPercent > 74){
                    $("#countDownProgressBar").addClass("bg-success");
                }
                else if(countDownPercent > 49){
                    $("#countDownProgressBar").addClass("bg-info");
                }
                else if(countDownPercent > 24){
                    $("#countDownProgressBar").addClass("bg-warning");
                } else {
                    $("#countDownProgressBar").addClass("bg-danger");
                }
            }

        });

    </script>
{% endblock %}

